.summary {
  background: var(--white);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px var(--shadow);
}

.summary h2 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.summary li {
  margin-bottom: 0.75rem;
}

.summary a {
  font-size: 0.95rem;
}

.summary a:hover {
  text-decoration: underline;
  cursor: pointer;
}